{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["transform-react-jsx-source", "istanbul"]
    }
  },
  "plugins": ["transform-flow-strip-types"]
}
