sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '9'
  - '10'
  - 'stable'
script:
  - npm start validate
after_success:
  - npx codecov
branches:
  only:
    - master